<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <context:component-scan base-package="com.shundian.red"/>
  <!--  <context:component-scan base-package="com.shundian.red.web.service.impl"/>-->
  <!--  <context:component-scan base-package="com.shundian.red.web.dao.impl"/>-->
  <context:annotation-config/>
  <mvc:annotation-driven>
    <mvc:message-converters register-defaults="false">
      <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="supportedMediaTypes">
          <list>
            <!-- 这里顺序不能反，一定先写text/html,不然ie下会出现下载提示 -->
            <value>text/html;charset=UTF-8</value>
            <value>application/json;charset=UTF-8</value>
          </list>
        </property>
      </bean>
    </mvc:message-converters>
<!--    <mvc:return-value-handlers>-->
<!--      <bean />-->
<!--    </mvc:return-value-handlers>-->
  </mvc:annotation-driven>

  <import resource="classpath:spring-cache-redis.xml"/>
  <import resource="classpath:spring-db-mysql.xml"/>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:mysql.properties</value>
        <value>classpath:redis.properties</value>
      </list>
    </property>
  </bean>

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/pages/"/>
    <property name="suffix" value=".jsp"/>
  </bean>


</beans>
